<%= turbo_frame_tag "edit-contentarea",data: {turbo_history: true} do %>
  <div class="flex flex-col mt-5">
    <%= form_for current_user,url: update_password_path,method: :patch,html: { class: "form" } do |f| %>
      <div class="grid grid-cols-3 items-center mt-5  my-2 mx-12">
        <%= f.label :current_password, class: "font-bold mr-2 col-span-1" %>
        <%= f.password_field :oldpassword, class: "bg-white border border-slate-200 focus:border-slate-800 p-1 rounded-sm col-span-2", required: true,placeholder: "Current Password" %>
      </div>
      <div class="grid grid-cols-3 items-center mt-5 my-2 mx-12">
        <%= f.label :new_password, class: "font-bold mr-2 col-span-1" %>
        <%= f.password_field :password, class: "bg-white border border-slate-200 focus:border-slate-800 p-1 rounded-sm col-span-2", required: true,placeholder: "New Password" %>
      </div>
      <div class="grid grid-cols-3 items-center mt-5 my-2 mx-12">
        <%= f.label :confirm_password, class: "font-bold mr-2 col-span-1" %>
        <%= f.password_field :confirm_password, class: "bg-white border border-slate-200 focus:border-slate-800 p-1 rounded-sm col-span-2", required: true,placeholder: "Confirm New Password" %>
      </div>
      <div class="mt-5 text-end mr-10">
        <%= f.submit "Submit", class: "bg-blue-400 hover:bg-blue-500 text-white font-bold py-1 px-3 rounded" %>
      </div>
    <% end %>
    <% if @errors&.present? %>
      <% @errors.each do |e| %>
        <span class="text-red-500 text-center mt-10">
          <%= e %>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>
